$color-primario: #fff;
$color-fondotxt: rgba(255, 255, 255, 0.699);
$color-cierre: rgb(255, 0, 0);
$fondo-titulo: background-image url(../img/banderas/banda.png);
$border-gral: 3px solid rgb(0, 0, 0);
$motor: background-image url(../../img/carrusel/motor.jpg) 


